Options -Indexes +FollowSymlinks
RewriteEngine on
# Article avec numéro de page :
RewriteRule ^connexion$ /RiskAnalysis/connexion.php/* [L]
RewriteRule ^parametres&([0-9]+)$ /RiskAnalysis/parametres.php?id_utilisateur=$1/* [L]
RewriteRule ^aide&([0-9]+)$ /RiskAnalysis/aide.php?id_utilisateur=$1/* [L]
RewriteRule ^atelier-([0-9]+)([a-d]+)&([0-9]+)&([0-9]+)$ /RiskAnalysis/atelier$1$2.php?id_utilisateur=$3&id_projet=$4/* [L]
RewriteRule ^index&([0-9]+)$ /RiskAnalysis/index.php?id_utilisateur=$1/* [L]
RewriteRule ^mode_expert&([0-9]+)&([0-9]+)$ /RiskAnalysis/mode_expert.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^planification&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/gantt/planification.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^index_documentaire&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/index_documentaire/index_doc.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^activite&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/activite/activite.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^spec&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/spec/spec.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^post-it&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/post-it/post-it.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^synthese&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/synthese/synthese.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^relecture&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/relecture/relecture.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^tracabilite&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/tracabilite/tracabilite.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^test&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/test/test.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^revue&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/revue/revue.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^risque&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/risque/risque.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^tspec&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/template/tspec.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^architecture&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/architecture/architecture.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^gconf&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/gconf/gconf.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^gen_doc-([0-9]+)&([0-9]+)$ /RiskAnalysis/gen_doc.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^action&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/action/action.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^kanban&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/kanban/kanban.php?id_utilisateur=$1&id_projet=$2/* [L]
RewriteRule ^import_capella&([0-9]+)&([0-9]+)$ /RiskAnalysis/pro_version/import_capella/import_capella.php?id_utilisateur=$1&id_projet=$2/* [L]




# Faire que le code PHP ressemble à du html
AddType application/x-httpd-php .htm .html
# X-XSS-Protection
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>
# X-Frame-Options
<IfModule mod_headers.c>
	Header always append X-Frame-Options SAMEORIGIN
</IfModule>
# X-Content-Type nosniff
<IfModule mod_headers.c>
	Header set X-Content-Type-Options nosniff
</IfModule>
# Extra Security Headers
Header always set Strict-Transport-Security "max-age=15552001; includeSubDomains;"
#php_flag session.cookie_httponly on
#php_flag session.cookie_secure on


