html, body {
    height: 100%;
}


:root {
    --bg-color: #f0f0f0;                /*  var(--bg-color)     */
    --card-content-color:#fff;
    --card-header-color:#f7f7f7;
    --card-divider:#D7E3EA;
    --nav-top-and-copyright-color:#fff;
    --side-nav-color:#394C7A;
    --button-color:#394C7A;
    --placeholder-idle: #64789A;
    --placeholder-focus:#9BB8CA;
    --font-color:#2A3859;
    --reverse-font-color:#fff;
    --shadow-color:rgba(0, 0, 0, 0.2);

    /* fff mais transparent avec un A à .4 */
    --reverse-font-color-fainted:#ffffff66;
    /* fff mais transparent avec un A à .8*/
    --reverse-font-color-fainted-2:#ffffffcc;
    /* fff mais transparent avec un A à .3*/
    --reverse-font-color-fainted-3:#ffffff4d;
}
[data-theme="dark"] {
    
    --bg-color: #212027;                /*  var(--bg-color)     */
    --card-content-color:#3c3c3c;
    --card-header-color:#383838;
    --card-divider:#eaf1eb4d;
    --nav-top-and-copyright-color:#2C2C30;
    --side-nav-color:#394C7A;
    --button-color:#6769C7;
    --placeholder-idle: #64789A;
    --placeholder-focus:#999BB0;
    --font-color:#EAF1EB;
    --reverse-font-color:#EAF1EB;
    --shadow-color:rgba(0, 0, 0, 0.2);

    /* fff mais transparent avec un A à .4 */
    --reverse-font-color-fainted:#eaf1eb66;
    /* fff mais transparent avec un A à .8*/
    --reverse-font-color-fainted-2:#eaf1ebcc;
    /* fff mais transparent avec un A à .3*/
    --reverse-font-color-fainted-3:#eaf1eb4d;
}





body {
    background-color: var(--bg-color)!important;
    color: var(--font-color);

    /*other styles*/
}
/* -------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------FIN CHARTE GRAPHIQUE------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------DEBUT CSS SLIDER DARK MODE------------------------------------------------ */
.theme-switch{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}
.perso_switch {
  -webkit-appearance: none;
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png); */
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image .90s;
  box-shadow: 1px 1px 3px 1px var(--shadow-color);
}
.perso_switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
  transition: all .9s;
  background-color: #F7CA33;
}
.perso_switch:checked {
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png); */
  transition: background-image .90s;
}
.perso_switch:checked:before {
  transform: translate(100%);
  transition: all .9s;
  background-color: #ECF0F3;
}
/* -------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------FIN CSS SLIDER DARK MODE------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */



#wrapper #content-wrapper{
    background-color: var(--bg-color)!important;
}
.bg-white{
    background-color: var(--card-content-color)!important;
}
.card-header{
    background-color: var(--card-header-color)!important;
    border-bottom: 1px solid var(--card-divider);
}
.bg-gradient-primary{
    background-color: var(--side-nav-color)!important;
}
.sidebar-dark .sidebar-brand{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .nav-item.active .nav-link{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .nav-item.active .nav-link i{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .sidebar-heading {
    color: var(--reverse-font-color-fainted)!important;
}
.sidebar-dark .nav-item .nav-link {
    color: var(--reverse-font-color-fainted-2)!important;
}
.sidebar-dark .nav-item .nav-link i {
    color: var(--reverse-font-color-fainted-3)!important;
}
.card {
    background-color: var(--card-content-color)!important;
    border: none;
    box-shadow: 1px 1px 3px 1px var(--shadow-color)!important;
    border-radius: 0;
}
.dropdown-menu {
    background-color: var(--bg-color)!important;
}
.topbar .dropdown-list .dropdown-header {
    background-color: var(--side-nav-color)!important;
}
.dropdown-item {
    color: var(--font-color);
}
.text-gray-800 {
    color: var(--font-color)!important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item{
    color: var(--font-color)!important;
}
.sidebar .nav-item .collapse .collapse-inner {
    box-shadow: 1px 1px 3px 1px var(--shadow-color)!important;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------Gestion aspect responsif------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px){


}
@media (min-width: 768px){


}
@media (min-width: 992px){


}




