html, body {
    height: 100%;
}

:root {
    --bg-color: #f0f0f0;                /*  var(--bg-color)     */
    --card-color:#fff;                  /*  var(--card-color)     */
    --primary-color: #394C7A;           /*  var(--primary-color)     */
    --secondary-color: #64789A;         /*  var(--secondary-color)     */
    --placeholder-color: #9BB8CA;       /*  var(--placeholder-color)     */
    --font-color: #2a3859;              /*  var(--font-color)     */
    --shadow-color: rgba(0, 0, 0, 0.2); /*  var(--shadow-color)     */
}
[data-theme="dark"] {
    --bg-color: #212027;            /*  var(--bg-color)     */
    --card-color:#2C2C30;           /*  var(--card-color)     */
    --primary-color: #6769C7;       /*  var(--primary-color)     */
    --secondary-color: #64789A;     /*  var(--secondary-color)     */
    --placeholder-color: #999BB0;   /*  var(--placeholder-color)     */
    --font-color: #EAF1EB;          /*  var(--font-color)     */
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);

    /*other styles*/
}
/* -------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------FIN CHARTE GRAPHIQUE------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */


.theme-switch-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
    top: -1rem;
}
.theme-switch{
    margin-bottom: 0;
}
.perso_switch {
  -webkit-appearance: none;
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png); */
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image .90s;
  box-shadow: 1px 1px 3px 1px var(--shadow-color);
}
.perso_switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
  transition: all .9s;
  background-color: #F7CA33;
}
.perso_switch:checked {
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png); */
  transition: background-image .90s;
}
.perso_switch:checked:before {
  transform: translate(100%);
  transition: all .9s;
  background-color: #ECF0F3;
}
/* -------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------FIN CSS SLIDER DARK MODE------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */

/* CSS only for examples not required for centering */
.container {
    height: 100%;
}
.perso_card{
    width: 20rem;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 60%!important;
    box-shadow: 1px 1px 3px 1px var(--shadow-color);
    background-color: var(--card-color);
}
.perso_risk_manager{
    color: var(--font-color)!important;
}
.perso_form{
    border-bottom: 1px solid var(--secondary-color);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0 0.375rem!important;
    border-radius: 0%!important;
    background-color: var(--card-color);
    color: var(--primary-color);
    height: calc(1.2em + 0.7rem + 1px);
}
.perso_form:valid {
   border-bottom: 2px solid var(--primary-color);
}


/* placeholder */
::placeholder {
    color: var(--secondary-color);
    opacity: 1; /* Firefox */
    font-size: 63%!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--secondary-color);
    font-size: 63%!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--secondary-color);
}
.perso_form:focus{
    color: var(--primary-color);
    background-color: var(--card-color);
    padding: 0 0.375rem!important;
    border-radius: 0%!important;
}
:focus::placeholder {
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
}
:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}
:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-color);
}
.perso_btn_primary{
    width: 45%;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 0.5rem;
}
.perso_motdepass_center{
    text-align: center !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.perso_condition_center {
    text-align: center !important;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-size: 70%;
}
.perso_color_dark_blue{
    color: var(--primary-color)!important;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------Gestion aspect responsif------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px){
.perso_card {
    width: 20rem;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 62%!important;
    }
::placeholder{
    font-size: 63%!important;
    }
::-webkit-input-placeholder {
   font-size: 63%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 63%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 63%!important;
    }

:-ms-input-placeholder {
    font-size: 63%!important;
    }
.perso_btn_primary{
    font-size: 90%!important;
    }
.theme-switch-wrapper{
    top: -1rem;
    }
}
@media (min-width: 768px){
.perso_card {
    width: 25rem;
    padding-top: 3rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    padding-bottom: 0.5rem;
    font-size: 75%!important;
    }
::placeholder{
    font-size: 76%!important;
    }
::-webkit-input-placeholder {
    font-size: 76%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 76%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 76%!important;
    }

:-ms-input-placeholder {
    font-size: 76%!important;
    }
.perso_btn_primary{
    font-size: 90%!important;
    }
.theme-switch-wrapper{
    top: -2rem;
    right: -1rem;
    }
}
@media (min-width: 992px){
.perso_card{
    width: 30rem;
    padding-top: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    font-size: 80%!important;
    }
::placeholder{
    font-size: 82%!important;
    }
::-webkit-input-placeholder {
    font-size: 82%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 82%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 82%!important;
    }

:-ms-input-placeholder {
    font-size: 82%!important;
    }
.perso_btn_primary{
    font-size: 100%!important;
    }
.theme-switch-wrapper{
    top: -3rem;
    }
}
