html, body {
    height: 100%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------- CHARTE GRAPHIQUE---------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
:root {
    --bg-color: #f0f0f0;                /*  var(--bg-color)     */
    --card-content-color:#fff;
    --card-header-color:#f7f7f7;
    --card-divider:#D7E3EA;
    --nav-top-and-copyright-color:#fff;
    --side-nav-color:#394C7A;
    --button-color:#394C7A;
    --button-color-hover:#222E49;
    --placeholder-idle: #64789A;
    --placeholder-focus:#9BB8CA;
    --font-color:#2A3859;
    --reverse-font-color:#fff;
    --shadow-color:rgba(0, 0, 0, 0.2);

    /* fff mais transparent avec un A à .4 */
    --reverse-font-color-fainted:#ffffff66;
    /* fff mais transparent avec un A à .8*/
    --reverse-font-color-fainted-2:#ffffffcc;
    /* fff mais transparent avec un A à .3*/
    --reverse-font-color-fainted-3:#ffffff4d;
}
[data-theme="dark"] {
    
    --bg-color: #212027;                /*  var(--bg-color)     */
    --card-content-color:#3c3c3c;
    --card-header-color:#383838;
    --card-divider:#eaf1eb4d;
    --nav-top-and-copyright-color:#2C2C30;
    --side-nav-color:#394C7A;
    --button-color:#6769C7;
    --button-color-hover:#B0B7CA;
    --placeholder-idle: #64789A;
    --placeholder-focus:#999BB0;
    --font-color:#EAF1EB;
    --reverse-font-color:#EAF1EB;
    --shadow-color:rgba(0, 0, 0, 0.2);

    /* fff mais transparent avec un A à .4 */
    --reverse-font-color-fainted:#eaf1eb66;
    /* fff mais transparent avec un A à .8*/
    --reverse-font-color-fainted-2:#eaf1ebcc;
    /* fff mais transparent avec un A à .3*/
    --reverse-font-color-fainted-3:#eaf1eb4d;
}





body {
    background-color: var(--bg-color)!important;
    color: var(--font-color);

    /*other styles*/
}


/* -------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------DEBUT CSS SLIDER DARK MODE------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */
.theme-switch-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
    top: -1rem;
}
.theme-switch{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}
.perso_switch {
  -webkit-appearance: none;
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png); */
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image .90s;
  box-shadow: 1px 1px 3px 1px var(--shadow-color);
}
.perso_switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
  transition: all .9s;
  background-color: #F7CA33;
}
.perso_switch:checked {
  background-color: var(--bg-color);
  /* background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png); */
  transition: background-image .90s;
}
.perso_switch:checked:before {
  transform: translate(100%);
  transition: all .9s;
  background-color: #ECF0F3;
}


/* -------------------------------------------------------------------------------------------------------------- */
/*------------------------------------ overwrite des classes bootstrap -------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------- */
#wrapper #content-wrapper{
    background-color: var(--bg-color)!important;
}
.bg-white{
    background-color: var(--card-content-color)!important;
}
.card-header{
    background-color: var(--card-content-color)!important;
    /* border-bottom: 1px solid var(--card-divider); */
    border: none;
    padding: 1rem 1rem;
}
.card-body{
    padding-top: 0.5rem!important;
    padding-bottom: 1rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
h6{
    font-size: 1.5rem;
}
.bg-gradient-primary{
    background-color: var(--side-nav-color)!important;
}
.sidebar-dark .sidebar-brand{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .nav-item.active .nav-link{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .nav-item.active .nav-link i{
    color: var(--reverse-font-color)!important;
}
.sidebar-dark .sidebar-heading {
    color: var(--reverse-font-color-fainted)!important;
}
.sidebar-dark .nav-item .nav-link {
    color: var(--reverse-font-color-fainted-2)!important;
}
.sidebar-dark .nav-item .nav-link i {
    color: var(--reverse-font-color-fainted-3)!important;
}
.card {
    background-color: var(--card-content-color)!important;
    border: none;
    box-shadow: 1px 1px 3px 1px var(--shadow-color)!important;
    border-radius: 0;
}
.dropdown-menu {
    background-color: var(--bg-color)!important;
}
.topbar .dropdown-list .dropdown-header {
    background-color: var(--side-nav-color)!important;
}
.dropdown-item {
    color: var(--font-color);
}
.text-gray-800 {
    color: var(--font-color)!important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item{
    color: var(--font-color)!important;
}
.sidebar .nav-item .collapse .collapse-inner {
    box-shadow: 1px 1px 3px 1px var(--shadow-color)!important;
}
.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.table thead th {
    vertical-align: middle;
}
.custom-control-label::before {
    background-color: var(--card-content-color);
        box-shadow: none!important;
}
.modal-content {
    background-color: var(--card-content-color);
}
.form-control {
    background-color: var(--card-content-color);
}
.form-control:focus {
    background-color: var(--card-content-color);
    color: var(--font-color);
}
.custom-file-label::after {
    background-color: var(--button-color);
    color: var(--reverse-font-color);
    content: "Parcourir";
}


/* -------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------- Page login-------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------- */
.perso_card{
    width: 20rem;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 60%!important;
    box-shadow: 1px 1px 3px 1px var(--shadow-color);
    background-color: var(--card-content-color);
}
.perso_risk_manager{
    color: var(--font-color)!important;
}
.perso_form{
    border-bottom: 1px solid var(--placeholder-idle);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0 0.375rem!important;
    border-radius: 0%!important;
    background-color: var(--card-content-color);
    color: var(--button-color);
    height: calc(1.2em + 0.7rem + 1px);
}
.perso_btn_primary{
    width: 45%;
    color: var(--reverse-font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    font-size: 0.5rem;
}
.perso_btn_primary:hover{
    color: var(--reverse-font-color);
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}
.perso_btn_primary:not(:disabled):not(.disabled):active{
    color: var(--reverse-font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
}
.perso_motdepass_center{
    text-align: center !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.perso_condition_center {
    text-align: center !important;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-size: 70%;
}
.perso_color_dark_blue{
    color: var(--button-color)!important;
}


/* -------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------- CSS Perso -------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------- */

.container {
    height: 100%;
}

.perso_form{
    border-bottom: 1px solid var(--placeholder-idle);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0 0.375rem!important;
    border-radius: 0%!important;
    background-color: var(--card-content-color);
    color: var(--button-color);
    height: calc(1.2em + 0.7rem + 1px);
    font-size: 1rem!important;
}
.perso_form:valid {
   border-bottom: 2px solid var(--button-color);
}


/* placeholder */
::placeholder {
    color: var(--placeholder-idle);
    opacity: 1; /* Firefox */
    font-size: 63%!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-idle);
    font-size: 63%!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-idle);
}
.perso_form:focus{
    color: var(--button-color);
    background-color: var(--card-content-color);
    padding: 0 0.375rem!important;
    border-radius: 0%!important;
}
:focus::placeholder {
    color: var(--placeholder-focus);
    opacity: 1; /* Firefox */
}
:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-focus);
}
:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-focus);
}
.perso_checkbox{
    color: var(--button-color);
    background-color: var(--card-content-color);
    border-color: var(--placeholder-idle);
}
.perso_checkbox:hover{
    background-color: var(--placeholder-focus);
}
.perso_checkbox:not(:disabled):not(.disabled).active {
    color: var(--reverse-font-color);
    background-color: var(--button-color);

}
.perso_btn{
    width: 8rem;
    color: var(--reverse-font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
}
.perso_btn:hover{
    color: var(--reverse-font-color);
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}
.perso_btn:not(:disabled):not(.disabled):active{
    color: var(--reverse-font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
}
.perso_tableau{
    margin-top: 3rem;
}
.perso_img{
    padding: 1rem 2rem;
}
/* .perso_img_full_screen_div{
    padding: 1rem 2rem;
} */
.card-columns {
    padding-right: .75rem;
    padding-left: .75rem;
    width: 100%;
}
.perso_RACI_control_label::before {
    left: -0.4rem;
}
.perso_RACI_control_label::after {
    left: -0.4rem;
}
.perso_RACI{
    padding-left: 0;
    text-align: center;
}
.perso_vertical{
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin-right: auto;
    margin-left: auto;
}
.perso_text_area{
    background-color: var(--card-content-color);
}
.perso_text_area:focus{
    background-color: var(--card-content-color);
}
.perso_btn_RACI{
    width: 10rem;
}
.perso_border{
    border: none!important;
}
.perso_middle_modal_footer{
    justify-content: center;
}
.perso_modal_body{
    padding: 1rem 8rem;
}
.perso_card_body_row{
    align-items: center;
}
.perso_btn_spacing{
    margin-top: 1rem;
}
.perso_no_margin{
    margin: 0;
}
.perso_header_right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.perso_icon_btn{
    border: none;
    background-color: var(--card-content-color);
    color: var(--button-color);
    font-size: 20px;
}
.perso_icon_btn:focus{
    color: var(--button-color-hover);
    outline: none;
}
.perso_icon_btn:hover{
    color: var(--button-color-hover);
    outline: none;
}
.perso_icon_btn:not(:disabled):not(.disabled):active{
    color: var(--button-color-hover);
    outline: none;
}
.popover{
    background-color: var(--card-content-color)!important;
    box-shadow: 1px 1px 3px 1px var(--shadow-color)!important;
    color: var(--font-color);
}
.bs-popover-bottom > .arrow::after{
    border-bottom-color: var(--card-content-color)!important;
}
.popover-body {
    color: var(--font-color);
}
/* -------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------Gestion aspect responsif------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px){

/* page login */
.perso_card {
    width: 20rem;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 62%!important;
    }


/* css perso */
::placeholder{
    font-size: 63%!important;
    }
::-webkit-input-placeholder {
   font-size: 63%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 63%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 63%!important;
    }

:-ms-input-placeholder {
    font-size: 63%!important;
    }
.perso_btn_primary{
    font-size: 90%!important;
    }
.theme-switch-wrapper{
    top: -1rem;
    }
.perso_img{
    padding: 1rem 2rem;
    }
/* .perso_img_full_screen_div{
    padding: 1rem 2rem;
    } */
.card-columns {
    -moz-column-count: 1;
    column-count: 1;
    }
.perso_text_img {
    display: flex;
    flex-flow: wrap;
    }
}
@media (min-width: 768px){

/* Page login */
.perso_card {
    width: 25rem;
    padding-top: 3rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    padding-bottom: 0.5rem;
    font-size: 75%!important;
    }


/* CSS perso */
::placeholder{
    font-size: 76%!important;
    }
::-webkit-input-placeholder {
    font-size: 76%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 76%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 76%!important;
    }

:-ms-input-placeholder {
    font-size: 76%!important;
    }
.perso_btn_primary{
    font-size: 90%!important;
    }
.theme-switch-wrapper{
    top: -2rem;
    right: -1rem;
    }
.perso_img{
    padding: 1rem 1rem;
    }
/* .perso_img_full_screen_div{
    padding: 1rem 4rem;
    } */
.card-columns {
    -moz-column-count: 2;
    column-count: 2;
    }
.perso_text_img {
    display: flex;
    flex-flow: wrap;
    }
.perso_card_half_screen{
    min-height: 49rem;
    }
}
@media (min-width: 992px){

/* Page login */
.perso_card{
    width: 30rem;
    padding-top: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    font-size: 80%!important;
    }


/* CSS Perso */
::placeholder{
    font-size: 82%!important;
    }
::-webkit-input-placeholder {
    font-size: 82%!important;
    }

:-moz-placeholder { /* Firefox 18- */
    font-size: 82%!important;
    }

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 82%!important;
    }

:-ms-input-placeholder {
    font-size: 82%!important;
    }
.perso_btn_primary{
    font-size: 100%!important;
    }
.theme-switch-wrapper{
    top: -3rem;
    }
.perso_img{
    padding: 1rem 1rem;
    }
.perso_img_full_screen_div{
/*     padding: 1rem 1rem; */
    max-width: 50%;
    }
.card-columns {
    -moz-column-count: 2;
    column-count: 2;
    }
.perso_text_img {
    display: flex;
    flex-flow: nowrap;
    }
.perso_card_half_screen{
    min-height: 48rem;
    }
}
@media (min-width: 1043px){
.perso_card_half_screen{
    min-height: 47rem;
    }
}
@media (min-width: 1142px){
.perso_card_half_screen{
    min-height: 46rem;
    }
}
@media (min-width: 1225px){
.perso_card_half_screen{
    min-height: 43rem;
    }
.perso_img{
    padding: 1rem 3rem;
    }
.perso_img_full_screen_div{
    padding: 0rem 1rem;
    max-width: 50%;
    }
}
@media (min-width: 1296px){  
.perso_img{
    padding: 1rem 7rem;
    }
.perso_img_full_screen_div{
/*     padding: 0rem 3rem; */
    max-width: 50%;
    }
.perso_img_full_screen_div2{
    padding: 0rem 3rem;
    max-width: 50%;
    }
}

/* -------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------- Gestion icone modif/suppr ------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------- */
.centreVerticalement{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: 10px;
  }

.crayon,
.poubelle{
    width:2rem;
    height:2rem;
    padding: 5px 5px 5px 5px;
}

.modification{
    display: flex;
}

.fas:hover {
    color: var(--button-color-hover) !important;
}
  
/*------------------------------------------------------------------------------ */
/*--------------------------------- Scroll-Bar --------------------------------- */ 
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(---card-divider); 
  }
::-webkit-scrollbar-thumb {
    background: var(--button-color);
  }
::-webkit-scrollbar-thumb:window-inactive {
    background: var(--button-color);
  }
  
  @keyframes progress{
      from {
          transform: scaleX(0);   
          opacity: .1;
      }
      to {
          transform: scaleX(1);
      }
    } 